[user]
    email = git-user-email
    name = git-user-name

[credential]
    helper = store
	
[push]
    default = simple
	
[alias]
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add *
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    camp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
    campf = "!f() { git add -A && git commit -m \"$@\" && git push -f; }; f"
    cane = "!f() { git add -A && git commit --amend --no-edit; }; f"
    m = commit --amend --verbose

    d = diff
    ds = diff --stat
    dc = diff --cached

    s = status -s
	sb = status -sb
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
